body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.width{
    display: flex;
}
h1{
    font-size: 55px;
    font-weight: 900px;
}
.head{
    color:orange;
}
.half{
    width: 50%;
    margin: auto;
    padding: 3%;
}
.half img{
    width: 100%;
}
.link{
    
    background-image:linear-gradient(orange,RED);
    text-decoration: none;
    border-radius: 30px;
    padding: 20px 45px;
    color: white;
}

.half-width{
        width: 50%;
        margin: auto;
        padding: 10%;;
        
}
.half-width img{
    width: 72%;

    
}
.width-second{
    display: flex;
}
.width-second{
   background-image: url(shapes/7.png);
   background-repeat: no-repeat;
   background-position:cover;
}
.third{
    font-size: 30px;
    text-align: center;
    font-style:italic bold;
}
.sentence{
    display:block;
    text-align: center;
    text-decoration-line: unset;
    text-justify: auto;
    margin-left: 25%;
    margin-right: 25%;
}
 .box{
     display:flex;
     margin: 5%;
 }
 .box img{
     width: 100%;
     position: relative;
     
}
.rok{
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1.5%;
    border-radius:5%;
   box-shadow: 10px 10px 30px gainsboro;
}
.last{
    display:flex;
    border-radius:25px;
    margin: 80px;
   box-shadow: 10px 10px 30px gainsboro;
}
.rock{
  padding-left: 100px;
  padding-right: 100px;
}
footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#181818;
    color: white;
    text-align: center;
    margin-top: 10px;
    height: 200px;
  
}
h2.foot{
    font-size: 35px;
   padding-top: 25px;
}
